<div class="card p-3">
  <div class="border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <p class="form-title">Lista de Monitorias Ativas</p>
      
    </div>
  </div>

  <table class="table text-primary">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Disciplina</th>
        <th>Monitor</th>
        <th>Ano/Semestre</th>
        <th>Status</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let monitoria of monitorias; let i = index;  ">
        
          
        <td>{{monitoria.id}}</td>
        <td>{{monitoria.nome_monitoria}}</td>
        <td>{{monitoria.disciplina.nome_disciplina}}</td>
        <td>{{monitoria.monitor.nome}}</td>
        <td>{{monitoria.semestre_monitoria}}</td>
        <td>{{monitoria.status.nome_status}}</td>
        <td > 
            <a [routerLink]="['/monitoria', 'listar-ativas-detalhe', monitoria.id]"><i class="fa fa-ellipsis-h mr-2"></i></a>
         
           
                 
        </td> 
               
      </tr>
    </tbody>
    
  </table>

</div>