<div class="card p-3">
  <div class="border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <p class="form-title">Lista de Aluno</p>
      <button type="button" routerLink="/aluno/incluir" class="btn btn-primary form-button">Incluir Aluno</button>
    </div>
  </div>

  <form class="my-4" (ngSubmit)="enviar()" (reset)="reset()">
    <div class="d-flex mb-2 ">
      <label for="input-nome-completo" class="mr-3 text-primary font-weight-bold col-md-4 text-right">Nome</label>
      <input type="text" class="form-control col-md-4" placeholder="Nome do Aluno" id="input-nome-completo"
        name="nome" [disabled]="filtro.todos" [(ngModel)]="filtro.nome">
    </div>
    <div class="d-flex mb-2 ">
      <label for="input-nome-completo" class="mr-3 text-primary font-weight-bold col-md-4 text-right">Curso</label>
      <select class="form-control col-md-4" placeholder="Digite o curso" id="input-curso" name="curso"  [disabled]="filtro.todos"
      [(ngModel)]="filtro.idCurso"> 
          <option [ngValue]="undefined">Selecionar</option>
          <option [value]="curso.id" *ngFor="let curso of opcoesCursos">{{curso.nome}}</option>
        </select>
    </div>
    <div class="d-flex mb-2 align-items-center">
      <label for="input-nome-completo" class="mr-3 text-primary font-weight-bold col-md-4 text-right">Todos</label>
        <input type="checkbox" name="todos"  id="exampleCheck1" [(ngModel)]="filtro.todos" (change)="limpaCampos()">
    </div>

    <div class="d-flex justify-content-center">
      <button type="reset" class="btn btn-primary mr-2">Limpar</button>
      <button type="submit" class="btn btn-success mr-2">Pesquisar</button>
    </div>
  </form>

  <table class="table text-primary" *ngIf="alunos">
    <thead>
      <tr>
        <th scope="col">Nome Completo</th>
        <th scope="col">CPF</th>
        <th scope="col">E-mail</th>
        <th scope="col">Curso</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos">
        <td>{{aluno.nome}}</td>
        <td>{{aluno.cpf | cpf}}</td>
        <td>{{aluno.email}}</td>
        <td>{{aluno.cursos[0]?.nome}}</td>
        <td>
          <a [routerLink]="['/aluno', 'alterar', aluno.id]"><i class="fa fa-edit mr-2"></i></a>
          <a [routerLink]="['/aluno', 'excluir', aluno.id]"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

</div>