<div class="card p-3">
  <div class="border-bottom-2">
    <div class="d-flex justify-content-between align-items-center">
      <p class="form-title">Detalhe da Monitoria - {{dadosMonitoria.nome}} </p>  
      </div>
  </div>
  
  <div class="mb-3">
    <div class="row">
      <div class="col-sm-6">
        <label class="mr-3 text-primary font-weight-bold text-right">Disciplina: </label>
        {{dadosMonitoria.disciplina}}
      </div>
      <div class="col-sm-6">
        <label class="mr-3 text-primary font-weight-bold text-right">Semestre: </label>
        {{dadosMonitoria.semestre}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="mr-3 text-primary font-weight-bold text-right"> Monitor Atual: </label>
        {{dadosMonitoria.nome_monitor}} 
      </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6">
          <label class="mr-3 text-primary font-weight-bold text-right"> Qtde. de encontros: </label>
          {{dadosMonitoria.qtde_encontros}}
          </div>
          <div class="col-sm-6">
            <label class="mr-3 text-primary font-weight-bold text-right">
              Qtde. de alunos frequentando: 
              </label>
              {{dadosMonitoria.qtde_frequentando}}
            </div>
    </div>

    <table class="table text-primary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Conteúdo Ministrado</th>
            <th scope="col">Qtde. Presentes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let diario of dadosMonitoria.lista_diarios">
            <td>
              {{diario.id_diario}}
            </td>
            <td>
                {{diario.data_diario}}
              </td>
              <td>
                  {{diario.atividade_realizada_diario}}
                </td>
                <td>
                   {{diario.qtde_presentes}}
                  </td>

          </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <button type="button" routerLink="/monitoria/listar-historico" class="btn btn-primary mr-2">Voltar</button>
    </div>
    

  </div>
</div>