<form #formLogin="ngForm" (ngSubmit)="enviar(formLogin)">
  <label>CPF:</label>
  <input type="text" class="form-control mb-3" placeholder="Digite seu CPF" name="cpf" [(ngModel)]="user.cpf" required #cpf="ngModel">
  <validation-message [for]="cpf" [form]="formLogin"></validation-message>
  <label>Senha:</label>
  <input type="password" class="form-control mb-3" placeholder="Digite sua Senha" name="senha" [(ngModel)]="user.senha" required #senha="ngModel">
  <validation-message [for]="senha" [form]="formLogin"></validation-message>
  <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
</form>
<div class="text-center mt-2">
  <a routerLink="/acesso/recuperar-senha">Recuperar Senha</a>
</div>
