<div class="card p-3">
  <div class="border-bottom-2">
    <div class="d-flex justify-content-between align-items-center">
      <p class="form-title">Registro de Diário</p><span>*campos obrigatórios</span>
    </div>
  </div>
  <div class="d-flex mb-2">
    <label class="mr-3 mt-4 text-primary font-weight-bold col-md-4 text-right">Monitoria: </label>
    <div class="col-md-4 px-0 mt-4 text-primary">
      {{dadosMonitoria.nome_monitoria}} - {{dadosMonitoria.semestre_monitoria}}
    </div>
  </div>

  <div class="d-flex mb-2">
    <label class="mr-3 text-primary font-weight-bold col-md-4 text-right">Monitor: </label>
    <div class="col-md-4 px-0 text-primary">
      {{monitor.nome}}
    </div>
  </div>


  <form class="" #formDiario="ngForm" (ngSubmit)="enviar(formDiario)">
    <div class="d-flex mb-2 ">
      <label for="input-data-diario" class="mr-3 text-primary font-weight-bold col-md-4 text-right required">Data
        Monitoria: </label>
      <div class="col-md-4 px-0">
        <input type="date" class="form-control" placeholder="DD/MM/YYYY" id="input-data-diario" name="data"
          [(ngModel)]="diario.data_diario" required #data="ngModel" bsDatePicker>
      </div>
    </div>

    <div class="d-flex mb-2">
      <label for="input-conteudo-diario"
        class="mr-3 text-primary font-weight-bold col-md-4 text-right required">Conteúdo: </label>
      <div class="col-md-4 px-0">
        <textarea class="form-control" placeholder="Ex: Atividades de reforço" id="input-conteudo-diario" name=conteudo
          [(ngModel)]="diario.conteudo_ministrado" required #data="ngModel"></textarea>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <table class="table text-primary">
        <thead>
          <tr>
            <th style="width:8%" scope="col">Presença</th>
            <th style="width:50%" scope="col">Alunos</th>
            <th style="width:42%"><div class="row">
                <input name="nomePesquisa" type="text" class="form-control col-8" placeholder="Pesquisar novos alunos"
                [(ngModel)]="pesquisaAlunos" ><button type="button" class="btn btn-primary ml-2" (click)="pesquisarAluno()">Pesquisar</button>
              <ul class="list-group search-list" *ngIf="alunosPesquisa">
                <li class="list-group-item" *ngFor="let aluno of alunosPesquisa"><button type="button" class="btn btn-clear" (click)="inserirAluno(aluno)" >{{aluno.nome}}</button></li>
                
              </ul>
              <button type="button" routerLink="/aluno/incluir" style="margin-left: 5px;" class="btn btn-success">+</button>
            </div>
            </th>
          </tr>
        </thead>
        <tbody>




          <tr *ngFor="let aln of listaAlunos">
            <td><input type="checkbox" [(ngModel)]="aln.presente" [ngModelOptions]="{standalone: true}"><br></td>
            <td>{{aln.nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center">
      <button type="reset" class="btn btn-primary mr-2">Limpar</button>
      <button type="submit" class="btn btn-success mr-2">Enviar</button>
    </div>

  </form>

</div>