<div class="card p-3">
  <div class="border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <p class="form-title">Lista de Monitorias</p>
      <button type="button" routerLink="/monitoria/incluir" class="btn btn-primary form-button">Incluir Monitoria</button>
    </div>
  </div>

  <table class="table text-primary">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Disciplina</th>
        <th>Monitor</th>
        <th>Ano/Semestre</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of monitorias">
        <td>{{m.id}}</td>
        <td>{{m.nome_monitoria}}</td>
        <td>{{m.disciplina.nome_disciplina}}</td>
        <td>{{m.monitor.nome}}</td>
        <td>{{m.semestre_monitoria}}</td>
        <td>{{m.status.nome_status}}</td>
        <td>  
          <a [routerLink]="['/monitoria', 'alterar', m.id]"><i class="fa fa-edit mr-2"></i></a>
          <a [routerLink]="['/monitoria', 'excluir', m.id]"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

</div>