<div class="card p-3">
  <div class="border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <p class="form-title">Lista de Monitorias Realizadas</p>
    </div>
  </div>
  <ul>
    <li>
      <a  (click)="click(i)"
        [attr.aria-expanded]="!isCollapsed[i]" aria-controls="collapseExample">
          <label class="form-title" style="margin-top: 10px;"> Semeste Exemplo 
            <i class="fa fa-chevron-down" style="margin-left: 10px;" aria-hidden="true"></i>
          </label> 
      </a>
      <hr>
      <div id="collapseExample" [ngbCollapse]="isCollapsed[i]">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </li>
    
</ul>

</div>





