/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';


.form-title{
    font-size: 1.2em;
    color: $primary
}

.border-bottom-2{
    border-bottom: 2px solid #dee2e6 !important;
}

.required::after{
    content: '*'
}
body{
    background-color: #F9F9F9
}