.side-bar{
    height: 100vh;
    .menu{
        text-shadow: 2px 2px #215F75
    }

}
        .navbar{
            background-color: #EDEDED;
        }

        .container{
            background-color: #F9F9F9;
        }