<div class="row mx-0">

    <div class="col-2"></div>
    <!--SIDE BAR-->
    <div class="col-2 bg-primary text-light side-bar p-3 position-fixed">
        <img class="img-fluid mb-3" src="/assets/img/logo-horizontal-branca.png">
        <h6 class="text-center">Você está logado como:</h6>
        <div class="text-center">
            <p class="mb-0 font-weight-bold">{{usuario.nome}}</p>
            <p>{{usuario.role}}</p>
        </div>
        <p class="font-weight-bold menu">MENU</p>
        <button class=" btn btn-clear btn-block text-left text-light" routerLink="/aluno" >
            <i class="fa fa-users mr-3"></i>
            <span class="font-weight-bold">Alunos</span>
        </button>
        <button class=" btn btn-clear btn-block text-left text-light" routerLink="/monitoria">
            <i class="fa fa-briefcase  mr-3"></i>
            <span class="font-weight-bold">Monitoria</span>
        </button>
        <button class=" btn btn-clear btn-block text-left text-light" routerLink="/diario">
            <i class="fa fa-book mr-3"></i>
            <span class="font-weight-bold">Diário</span>
        </button>
        <button class=" btn btn-clear btn-block text-left text-light" routerLink="/monitoria/listar-ativas">
            <i class="fa fa-book mr-3"></i>
            <span class="font-weight-bold">Monitorias Ativas</span>
        </button>
    </div>

    <!--CONTEÚDO-->
    <div class="col-10 px-0">
        <nav class="navbar navbar-light d-flex flex-row-reverse py-3">
            <button type="button" (click)="sair()" class="btn btn-clear" >Sair <i class="fa fa-sign-out"></i></button>
        </nav>
        <div class="container p-4">
            <h2 class="text-uppercase text-primary">Bem-vindo ao sistema Quiron</h2>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>