<div class="card p-3">
  <div class="border-bottom-2">
    <div class="d-flex justify-content-between align-items-center">
      <p class="form-title">Cadastro de Monitoria</p><span>*campos obrigatórios</span>
    </div>
  </div>

  <form class="mt-4" #formMonitoria="ngForm" (ngSubmit)="enviar(formMonitoria)">
   
    <!-- nome --> 
    <div class="d-flex mb-2 ">
      <label for="input-nome-monitoria" class="mr-3 text-primary font-weight-bold col-md-4 text-right required">Nome
        Monitoria</label>
      <div class="col-md-4 px-0">
        <input type="text" class="form-control" placeholder="Digite o nome da Monitoria" id="input-nome-monitoria"
          name="nome" [(ngModel)]="monitoria.nome_monitoria" required #nome="ngModel">
        <validation-message [for]="nome" [form]="formMonitoria"></validation-message>
      </div>
    </div>

    <!-- disciplina -->
    <div class="d-flex mb-3">
      <label for="input-disciplina" class="mr-3 text-primary font-weight-bold col-md-4 text-right required">Disciplina</label>
      <div class="col-md-4 px-0">
        <select class="form-control" placeholder="Selecione a Disciplina" id="input-disciplina" name="disciplina"
          [(ngModel)]="monitoria.disciplina.id" required #disciplina="ngModel">
          <option value="undefined">Selecionar</option>
          <option [value]="disciplina.id" *ngFor="let disciplina of opcoesDisciplinas">{{disciplina.nome_disciplina}}</option>
        </select>
        <validation-message [for]="disciplina" [form]="formMonitoria"></validation-message>
      </div>
    </div>

    <!-- semestre -->
    <div class="d-flex mb-3">
      <label for="input-semestre" class="mr-3 text-primary font-weight-bold col-md-4 text-right required">Ano / Semestere</label>
      <div class="col-md-4 px-0">
        <select class="form-control" placeholder="Selecione o ano e Semestre" id="input-semestre" name="semestre"
          [(ngModel)]="monitoria.semestre_monitoria" required #semestre="ngModel">
          <option value="undefined">Selecionar</option>
          <option [value]="semestre" *ngFor="let semestre of opcoesSemestres">{{semestre}}</option>
        </select>
        <validation-message [for]="semestre" [form]="formMonitoria"></validation-message>
      </div>
    </div>

    <!-- monitor(aluno) -->
    <div class="d-flex mb-3">
      <label for="input-monitor" class="mr-3 text-primary font-weight-bold col-md-4 text-right required">Monitor</label>
      <div class="col-md-4 px-0">
        <select class="form-control" placeholder="Selecione o Monitor" id="input-monitor" name="monitor"
          [(ngModel)]="monitoria.monitor.id" required #monitor="ngModel">
          <option value="undefined">Selecionar</option>
          <option [value]="monitor.id" *ngFor="let monitor of opcoesAlunos">{{monitor.nome}}</option>
        </select>
        <validation-message [for]="monitor" [form]="formMonitoria"></validation-message>
      </div>
    </div>

    <!-- status -->
    <div class="d-flex mb-3">
        <label for="input-status" class="mr-3 text-primary font-weight-bold col-md-4 text-right required">Status</label>
        <div class="col-md-4 px-0">
          <select class="form-control" placeholder="Selecione o Status" id="input-status" name="status"
            [(ngModel)]="monitoria.status.id" required #status="ngModel">
            <option value="undefined">Selecionar</option>
            <option [value]="status.id" *ngFor="let status of opcoesStatus">{{status.nome_status}}</option>
          </select>
          <validation-message [for]="status" [form]="formMonitoria"></validation-message>
        </div>
      </div>

    <!-- Horario -->
    <div class="mb-3">
      <label for="input-horario" class="mr-3 text-primary font-weight-bold col-md-4  required">Horário</label>
      <table class="table text-primary">
        <thead>
          <tr>
            <th scope="col">Dias</th>
            <th scope="col">Sala</th>
            <th scope="col">Hora iníco</th>
            <th scope="col">Hora fim</th>
          </tr>
        </thead>
        <tbody>
          <!-- segunda-->
          <tr>
            <td>
              <input  type="checkbox" (ngModelChange)="limparHorarioDesativado()" class="flat" name="table_records" [(ngModel)]="monitoria.horario.segunda"> Segunda-feira
            </td>
            <td>
              <input  [(ngModel)]= "monitoria.horario.sala_segunda"  [readonly]="!monitoria.horario.segunda" type="text" 
              class="form-control" placeholder="Local"  name="sala_segunda" [required]="monitoria.horario.segunda" #sala_segunda="ngModel">
              <validation-message  [for]="sala_segunda" [form]="formMonitoria"></validation-message>
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.inicio_segunda" [readonly]="!monitoria.horario.segunda"
              name="inicio_segunda" [required]="monitoria.horario.segunda" #inicio_segunda="ngModel">
              <validation-message  [for]="inicio_segunda" [form]="formMonitoria"></validation-message>              
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.final_segunda" [readonly]="!monitoria.horario.segunda"
              name="final_segunda" [required]="monitoria.horario.segunda" #final_segunda="ngModel">
              <validation-message  [for]="final_segunda" [form]="formMonitoria"></validation-message>
            </td>  
          </tr>

          <!-- terca-->
          <tr>
            <td>
              <input  type="checkbox" (ngModelChange)="limparHorarioDesativado()" class="flat" name="table_records" [(ngModel)]="monitoria.horario.terca"> Terça-feira
            </td>
            <td>
              <input  [(ngModel)]= "monitoria.horario.sala_terca"  [readonly]="!monitoria.horario.terca" type="text" 
              class="form-control" placeholder="Local"  name="sala_terca" [required]="monitoria.horario.terca" #sala_terca="ngModel">
              <validation-message  [for]="sala_terca" [form]="formMonitoria"></validation-message>
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.inicio_terca" [readonly]="!monitoria.horario.terca"
              name="inicio_terca" [required]="monitoria.horario.terca" #inicio_terca="ngModel">
              <validation-message  [for]="inicio_terca" [form]="formMonitoria"></validation-message>              
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.final_terca" [readonly]="!monitoria.horario.terca"
              name="final_terca" [required]="monitoria.horario.terca" #final_terca="ngModel">
              <validation-message [for]="final_terca" [form]="formMonitoria"></validation-message>
            </td>  
          </tr>

          <!-- quarta-->
          <tr>
            <td>
              <input  type="checkbox" (ngModelChange)="limparHorarioDesativado()" class="flat" name="table_records" [(ngModel)]="monitoria.horario.quarta"> Quarta-feira
            </td>
            <td>
              <input  [(ngModel)]= "monitoria.horario.sala_quarta"  [readonly]="!monitoria.horario.quarta" type="text" 
              class="form-control" placeholder="Local"  name="sala_quarta" [required]="monitoria.horario.quarta" #sala_quarta="ngModel">
              <validation-message  [for]="sala_quarta" [form]="formMonitoria"></validation-message>
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.inicio_quarta" [readonly]="!monitoria.horario.quarta"
              name="inicio_quarta" [required]="monitoria.horario.quarta" #inicio_quarta="ngModel">
              <validation-message [for]="inicio_quarta" [form]="formMonitoria"></validation-message>              
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.final_quarta" [readonly]="!monitoria.horario.quarta"
              name="final_quarta" [required]="monitoria.horario.quarta" #final_quarta="ngModel">
              <validation-message  [for]="final_quarta" [form]="formMonitoria"></validation-message>
            </td>  
          </tr>

          <!-- quinta-->
          <tr>
            <td>
              <input  type="checkbox" (ngModelChange)="limparHorarioDesativado()" class="flat" name="table_records" [(ngModel)]="monitoria.horario.quinta"> Quinta-feira
            </td>
            <td>
              <input  [(ngModel)]= "monitoria.horario.sala_quinta"  [readonly]="!monitoria.horario.quinta" type="text" 
              class="form-control" placeholder="Local"  name="sala_quinta" [required]="monitoria.horario.quinta" #sala_quinta="ngModel">
              <validation-message  [for]="sala_quinta" [form]="formMonitoria"></validation-message>
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.inicio_quinta" [readonly]="!monitoria.horario.quinta"
              name="inicio_quinta" [required]="monitoria.horario.quinta" #inicio_quinta="ngModel">
              <validation-message  [for]="inicio_quinta" [form]="formMonitoria"></validation-message>              
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.final_quinta" [readonly]="!monitoria.horario.quinta"
              name="final_quinta" [required]="monitoria.horario.quinta" #final_quinta="ngModel">
              <validation-message  [for]="final_quinta" [form]="formMonitoria"></validation-message>
            </td>  
          </tr>

          <!-- sexta-->
          <tr>
            <td>
              <input  type="checkbox" (ngModelChange)="limparHorarioDesativado()" class="flat" name="table_records" [(ngModel)]="monitoria.horario.sexta"> Sexta-feira
            </td>
            <td>
              <input  [(ngModel)]= "monitoria.horario.sala_sexta"  [readonly]="!monitoria.horario.sexta" type="text" 
              class="form-control" placeholder="Local"  name="sala_sexta" [required]="monitoria.horario.sexta" #sala_sexta="ngModel">
              <validation-message  [for]="sala_sexta" [form]="formMonitoria"></validation-message>
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.inicio_sexta" [readonly]="!monitoria.horario.sexta"
              name="inicio_sexta" [required]="monitoria.horario.sexta" #inicio_sexta="ngModel">
              <validation-message  [for]="inicio_sexta" [form]="formMonitoria"></validation-message>              
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.final_sexta" [readonly]="!monitoria.horario.sexta"
              name="final_sexta" [required]="monitoria.horario.sexta" #final_sexta="ngModel">
              <validation-message  [for]="final_sexta" [form]="formMonitoria"></validation-message>
            </td>  
          </tr>
          
          <!-- sabado-->
          <tr>
            <td>
              <input  type="checkbox" (ngModelChange)="limparHorarioDesativado()" class="flat" name="table_records" [(ngModel)]="monitoria.horario.sabado"> Sábado
            </td>
            <td>
              <input  [(ngModel)]= "monitoria.horario.sala_sabado"  [readonly]="!monitoria.horario.sabado" type="text" 
              class="form-control" placeholder="Local"  name="sala_sabado" [required]="monitoria.horario.sabado" #sala_sabado="ngModel">
              <validation-message  [for]="sala_sabado" [form]="formMonitoria"></validation-message>
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.inicio_sabado" [readonly]="!monitoria.horario.sabado"
              name="inicio_sabado" [required]="monitoria.horario.sabado" #inicio_sabado="ngModel">
              <validation-message  [for]="inicio_sabado" [form]="formMonitoria"></validation-message>              
            </td>
            <td>
              <input type='time' class="form-control" [(ngModel)] = "monitoria.horario.final_sabado" [readonly]="!monitoria.horario.sabado"
              name="final_sabado" [required]="monitoria.horario.sabado" #final_sabado="ngModel">
              <validation-message  [for]="final_sabado" [form]="formMonitoria"></validation-message>
            </td>  
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" routerLink="/monitoria" class="btn btn-primary mr-2">Cancelar</button>
      <button type="reset" class="btn btn-primary mr-2">Limpar</button>
      <button type="submit" class="btn btn-success mr-2">Enviar</button>
    </div>
  </form>

</div>